div
{
background-image:  url("yellow3.jpg");

#background-color: #CCFFFF;
color: 993300;
font-family: Helvetica;
opacity:1.5;
border:1px solid 993300;

border-radius:15px;
text-align: center;
width: 60%;
margin-left:3%;
}

body
{
background-image:url("2.png");
#background-color: white;
#background-repeat:no-repeat;
background-attachment:fixed;
color: FFFF00;
font-family: Helvetica;
border:1px solid;
border-radius:15px;
width: 95%;
margin-left:auto;
margin-right:auto;
}

h1
{
color:FFFF00;
font-family: algerian;
border:2px;
margin-left:auto;
margin-right:auto;
padding:1% 10% 1% 5%;
opacity:0.8;
letter-spacing:5px;
}
table
{
   color: 993300;
}
#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    color:black;
}
#m
{
    position:fixed;
	color: purple;
	font-family: Helvetica;
	text-align: center;
	padding:1% 5% 1% 5%;
	margin-left:72%;
	float:right;
	width:10%
}

#n
{
	color: purple;
	font-family: Helvetica;
	text-align: center;
	padding:1% 5% 1% 5%;
	margin-left:auto;
	margin-right:auto;
	width:80%
}
form
{
  margin-left:auto;
  margin-right:auto;
}

#login,#wel
{
	margin-left:auto;
	margin-right:auto;
}

#md
{  
	width:90%;
	margin-left:1%;
}

#app
{
   width:90%;
   padding:2% 1% 2% 1%;
}
