div
{
background-color: 99FF99;
color: 663300 ;
font-family: comic sans ms;
font-style:bold;
border:2px solid 666600;
border-radius:15px;
text-align: center;
width: 60%;
margin-left:3%;
}

body
{
background-color: 99FFFF;
color: 006699;
font-family: comic sans ms;
border:2px solid 006699;
border-radius:15px;
width: 95%;
margin-left:auto;
margin-right:auto;

}

h1
{
color:006699;
font-family: algerian;
border:2px;
margin-left:auto;
margin-right:auto;
padding:1% 10% 1% 5%;

}
table
{
    font-style:bold;
    color:666600;
	border:1px solid 666600 ;
}
#footer {
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
    color:black;
}
#m
{
    position:fixed;
	color: purple;
	font-family: comic sans ms;
	text-align: center;
	padding:1% 5% 1% 5%;
	margin-left:72%;
	float:right;
	width:10%
}

#n
{
	color: purple;
	font-family: comic sans ms;
	text-align: center;
	padding:1% 5% 1% 5%;
	margin-left:auto;
	margin-right:auto;
	width:80%
}
form
{
  margin-left:auto;
  margin-right:auto;
}

#login,#wel
{
	margin-left:auto;
	margin-right:auto;
}

#md
{  
	width:90%;
	margin-left:1%;
}

#app
{
   width:90%;
   padding:2% 1% 2% 1%;
}
